@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}

body{
  background:black;
  font-family:'Poppins',sans-serif;
  margin:8px;
}

header{
  width:90%;
  height:5%;
  margin:auto;
}

header nav{
 width:90%;
  height:7%;
  margin:auto;
  display:inline-flex;
  align-items:center;
  justify-content:space-around;
}

header nav img{
  width:193px;
  height:90px;
  background-color:transparent;
}

header nav ul{
 list-style:none;
  display:flex;
}

header nav ul li{
  padding:3px 19px;
}

header nav ul li:nth-last-child(1){
  background:#438eb1fd;
  border-radius:20px;
  padding:5px 20px;
}

header nav ul li::nth-last-child(1) a{
  color:#fffefe;
}

header nav ul li a{
  text-decoration:none;
  color:#ffffff;
  font-size:15px;
  font-weight:500;
  transition:0.3s linear;
}

header nav ul li a:hover{
  color:gray(102,102,102);
}

header nav .bi-three-dots{
  display:none;
}



header .content {
    position: relative;
    width: 100%;    
    height: 100%;    
    justify-content: center;
    align-items: center;  
}
header .content::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 80%;
    background: url('img/background1.jpeg')no-repeat center center/cover;
    border-radius: 50px;
    z-index: -1;  
}

header .content .cont_bx {
    width: 92%;
    height: 250px;
    color: #000000;
    padding: 40px;
    font-family: dosis; 
}
header .content .cont_bx h1{
    margin-right: 33%;
    line-height: 50px;
    font-weight: 900px;  
}
header .content .cont_bx p{
    font-size: 14px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    margin-top: -1%;    
}

header .content .cont_bx button:hover{
    background: rgb(114, 114, 114);
    border: 2px solid rgb(113, 113, 113);
}


header .trip_bx {
    position: relative;
    width: 96%;  
    height: auto;
    margin: auto;
}
header .trip_bx .search_bx{
    position: absolute;
    top: 10%;
    left: 37px;
    width: 96%;
    height: 60px; 
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 10px 30px rgb(0, 0, 0);
    z-index: 1;  
    padding: 10px 20px;  
}

header .trip_bx .search_bx .card {
    width: 600px;  
    height: 100%;
}
header .trip_bx .search_bx .card h4{
    font-size: 15px;
    margin:0;
    font-weight: 700;  
}
header .trip_bx .search_bx .card h4 .bi{
    position: absolute;
    font-size: 13px;        
    margin: 2px 0px 0px 5px;
    transition: .3s linear;
}
header .trip_bx .search_bx .card input{
    margin-top: -1px;
    padding: 5px 0px;
    border:none;
    outline:none;
    font-size: 13px;   
}
header .trip_bx .search_bx input[type="button"]{
    background: #000000;
    color: #f1f1f1;
     border:none;
    outline:none;
    padding: 10px 20px;
    border-radius:  10px;
    transition: .3s linear;
    cursor:pointer;
   
}
header .trip_bx .search_bx input[type="button"]:hover{
   background: rgb(0, 0, 0);
}

header .trip_bx .travel_bx {
    position: relative;       
    width: 94%;
    height: 100%;              
    margin: 4%;
    top: 70px;
    border-radius: 40px;                   
    padding-bottom: 20px;            
    box-shadow: 0px 20px 25px -10px rgb(165, 165, 165);
}
header .trip_bx .travel_bx::before{
   content: '';              
   position: absolute;     
   width: 99%;
   height: 60%;          
   border-radius: 10px;
   background: rgba(255, 254, 254, 0.7);   
   backdrop-filter: blur(4px);      
   z-index: -1;              
}
header .trip_bx .travel_bx h4{
  margin:0;
   padding: 60px 0px 15px 2%;       
}
header .trip_bx .travel_bx .cards{
   width: 96%;
   height: auto;
  margin: 0 auto;
   display: flex;
   align-items: center;
   justify-content: space-between;     
}
header .trip_bx .travel_bx .cards .card{
   width: 210px;
   height: 180px;
 
}
header .trip_bx .travel_bx .cards .card h3{
   margin: 0px 0px 10px 0px;
   display: flex;
   align-items: center;
   font-size: 16px;
   font-weight: 600;
}
header .trip_bx .travel_bx .cards .card h3 img{
   width: 20px;
   height: 20px;
   margin-left: 5px ;
}
header .trip_bx .travel_bx .cards .card img{
   width: 100%;
   height: 50%;           
}
header .trip_bx .travel_bx .cards .card .btn_city{
   display: flex;
   align-items: center;
   justify-content: space-between;
 
}
header .trip_bx .travel_bx .cards .card .btn_city a{
   text-decoration: none;
   background: #000000;
   color: #fff;          
   border-radius: 20px;
   padding: 6px 20px;    
   font-size: 11px;
   transition: .3s linear;
}
header .trip_bx .travel_bx .cards .card .btn_city a:hover{
   background: gray;
}
header .trip_bx .travel_bx .cards .card .btn_city h5{
   font-size: 11px;
   font-weight: 500;  
   margin:0;
   margin-top: 5px;
   line-height: 15px;       
}
header .trip_bx .travel_bx .cards .card .btn_city h5 span{
   font-size: 17px;
   font-weight: 700;
}

.explore_bx{
    position: relative;
    width: 70%;
    height: auto;
    margin: auto;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 15%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    }
    
    .explore_bx p{
        font-size: 12px;
        text-align: center;
    }
    .explore_bx .explore_cards{
       width: 100%;
       display:flex;
       justify-content:space-between;
       flex-wrap: wrap;
       margin-top: 20px ;
    
    }
    .explore_bx .explore_cards .exp_cards{
       position: relative;
       width: 190px ;
    height: 190px;
     margin: 10px 10px 0px 10px;
     transition: .3s;
     color: whitesmoke;
    
    }
    
     .explore_bx .explore_cards .exp_cards:hover{
     box-shadow: 5px 5px 30px rgb(132, 132, 132)
     
     }
       
     .explore_bx .explore_cards .exp_cards img{
     width: 100%;   
     height: 100%; 
     border-radius: 10px;
     }
    
     .explore_bx .explore_cards .exp_cards .content{
      position: absolute;
      width: 100%;
      bottom: 5px;
      display: flex;
     align-items: center;
     justify-content: center;
      flex-direction: column;
    }
    .explore_bx .explore_cards .exp_cards .content h4{
    line-height: 10px;
    
    }
    .explore_bx button{
        margin: 30px 0px;
        padding: 10px 30px;
        border-radius: 20px;
        font-weight:600;
        transition: .3s linear;
        cursor: pointer;
    
    }
    
    .explore_bx button:hover{
    background: gray;
    color:#fff;
    }


  .offers_bx{
    position: relative;
    width: 90%;
    height: auto;
    margin: auto;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    margin-top: 12%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    }
    


.offers_bx p{
    font-size: 12px;
    width: 400px;
text-align: center;
}
.offers_bx .offers_cards{
    width: 100%;
    display:flex;
    align-items: center;
    justify-content:space-between;
    flex-wrap: wrap;
    margin-top: 10px ;


 
 }

 .offers_bx .offers_cards .off_cards{
    position: relative;
    width: 150px ;
 height: 150px;
  margin: 10px 13px 55px 19px;
  transition: .3s;
  color: whitesmoke;
 }

 .offers_bx .offers_cards .off_cards:hover{
    box-shadow: 5px 5px 30px rgb(132, 132, 132)
 }
 

 .offers_bx .offers_cards .off_cards img{
    width: 100%;   
    height: 100%; 
    border-radius: 10px;
 }
 .offers_bx .offers_cards .off_cards .content{
    position: absolute;
    width: 100%;
    bottom: 5px;
    display: flex;
   align-items: center;
   justify-content: center;
    flex-direction: column;
  }
  .offers_bx .offers_cards .off_cards .content h4{
    line-height: 10px;
  }    

  .offers_bx .offers_cards .off_cards .img_text {
    position: relative;
    width: 100%;
    margin-top: 38%;
}
.offers_bx .offers_cards .off_cards .img_text img{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0px 10px;
}
.offers_bx .offers_cards .off_cards .img_text h4{
    position: absolute;
    font-size: 11px;
    padding: 10px 15px;
    bottom: 0;
    margin: 0;
    color: #000000;
    z-index: 2;
}
.offers_bx .offers_cards .off_cards .img_text h4::before{
    content:'';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(105, 105, 105);
    backdrop-filter: blur(6px);
    z-index: -2;
    bottom: 0;
    left: 0;
}
.offers_bx .offers_cards .off_cards  .cont_bx{
    width: 99%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgb(0, 0, 0);
    padding: 5px 0px;
    border-radius:0px 0px 5px 5px ;
}
.offers_bx .offers_cards .off_cards .cont_bx .price, .days{
    margin: 9px 8px;
}

.offers_bx .offers_cards .off_cards  .cont_bx .price .info_price{
    display: flex;
    align-items: center;
    margin-top: 9px;
}
.offers_bx .offers_cards .off_cards .cont_bx .price .info_price a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 11px;
    font-weight: 700;
    transition: .3s linear;
    margin-right: 13px;
}
.offers_bx .offers_cards .off_cards  .cont_bx .price .info_price a:hover{
    color: rgb(255, 255, 255);
}
.offers_bx .offers_cards .off_cards  .cont_bx .price .info_price h4{
    margin: 0;
    font-size: 13px;
}
.offers_bx .offers_cards .off_cards .cont_bx .days{
    color: #fff;
    background: white;
    font-size: 8px;
    border-radius: 50%;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    transition: .3s linear;
}
.offers_bx .offers_cards .off_cards .cont_bx .days:hover{
    transform: rotate(360deg);
}

.destination {
    width:45%;
    height: auto;
    margin: auto;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.destination .des_bx , .img_bx {
    position: relative;
    width: 290px;
    height: auto;
 
}

.destination .des_bx h4 {
    margin: 0;
    font-size: 20px;
    color: #fffafa;
    line-height: 15px;
    letter-spacing: 1px;
}
.destination .des_bx p {
    font-size: 14px;
    margin-right:30%;
}
.destination .des_bx li {
    list-style-type: none;
    padding: 0px 0px 9px 0px;
    font-size: 12px;
    font-weight: 500;
}
.destination .des_bx h6 {
    width: 250px;
    font-size: 12px;
    font-weight: 500;
    margin: 20px 0px;
}
.destination .des_bx button {
    font-size: 13px;
    padding: 8px 15px;
    border-radius: 40px;
    background: #00000000;
    color: #000000;
    border: 2px solid #000000;
    cursor: pointer;
    transition: .3s linear;
}
.destination .des_bx button:hover {
    background: gray(109, 109, 109, 0.538);
    border: 2px solid gray;
}

.destination .img_bx img{
    width: 100%;
    height: 450px;
    border-radius: 5px;
}
.destination .img_bx .msg{
   position: absolute;
   top: 50%;
   left: -10%;
   width: 150px;
   height: 90px;
   background: #000000;
   box-shadow: 0px 5px 20px  gray;
   display: flex;align-items: center;
   padding: 0px 10px;
   border-radius: 5px;
}
.destination .img_bx .msg:nth-child(2){
   top: 10%;
   left: 55%;
}
.destination .img_bx .msg img{
   width: 30px;
   height: 55%;
}
.destination .img_bx .msg .cont{
   margin-left: 15px;
}
.destination .img_bx .msg .cont h4{
  margin: 0;
  font-size: 15px;
  font-weight: 500;
}
.destination .img_bx .msg .cont .bi:nth-child(1){
  color: red;
  margin-right: 5px;
  font-size: 13px;
}
.destination .img_bx .msg .cont .bi span{
  font-style: normal;
  margin-left: 3px;
  font-size: 12px;
  color: gray;
}
.destination .img_bx .msg .cont .bi:nth-child(2){
    color: rgb(112, 166, 187);
    margin-right: 5px;
    font-size: 13px;
}

footer {
    width: 100%;
    height: auto;
    background: rgb(0, 0, 0);
    margin-top: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer h2 {
    text-align: center;
    margin: 0;
    margin-top: 20px;
    line-height: 30px;
    font-weight: 600;
}
footer p {
    text-align: center;
    width: 350px;
    font-size: 14px;
}

footer .input {
    box-shadow: 0px 3px 20px -1px rgb(0, 0, 0);
    border-radius: 20px;
}
footer .input input {
  padding: 10px 12px;
  border: none;
  outline: none;
  font-size: 11px;
  border-radius: 12px 0px 0px 12px;
}
footer .input button {
    padding: 9px 8px;
    border: none;
    outline: none;
    font-size: 12px;
    border-radius: 0px 20px 20px 0px;
    background: #5bd8dc;
    color: #000000;
    cursor: pointer;
    transition: .3s linear;
}

footer .input button:hover {
    background: rgb(51, 51, 51);
}

footer ul {
    list-style: none;
    display: flex;
    /* align-items: center; */
    margin-top: 30px;
    color: #f9f5f5;
}

footer ul li {
    text-align: center;
    margin-right: 1%;
    font-weight: italic;
}

footer ul li h6 {
    font-size: 11px;
    font-weight: 600;
    max-width: 120px;
    margin: 0;
    line-height: 18px;
    border-top: 1px solid #000000;
    padding-top: 3px;
}

.chatbot-toggler {
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 60px;
  width: 60px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #007bff;
  transition: all 0.2s ease;
}

body.show-chatbot .chatbot-toggler {
  transform: rotate(90deg);
}

.chatbot-toggler span {
  color: #fff;
  position: absolute;
}

.chatbot-toggler span:last-child,
body.show-chatbot .chatbot-toggler span:first-child {
  opacity: 0;
}

body.show-chatbot .chatbot-toggler span:last-child {
  opacity: 1;
}


.chatbot {
  position: fixed;
  right: 20px;
  bottom: 80px;
  width: 350px;
  background: #fff;
  border-radius: 10px;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.9);
  transform-origin: bottom right;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease;
}

body.show-chatbot .chatbot {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}


.chatbot header {
  background-color: #3498db;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}


.close-btn {
  font-size: 24px;
  cursor: pointer;
}


.close-btn:hover {
  color: #ff0000;
}

header h2 {
  font-size: 1.2rem;
}


.chatbot .chatbox {
  overflow-y: auto;
  max-height: 400px;
  padding: 20px;
}


.chatbot :where(.chatbox, textarea)::-webkit-scrollbar {
  width: 6px;
}

.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 25px;
}

.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 25px;
}


.chatbox .chat {
  display: flex;
  list-style: none;
}

.chatbox .outgoing {
  margin: 15px 0;
  justify-content: flex-end;
}
.chatbox .incoming span {
    width: 32px;
    height: 32px;
    color: #fff;
    cursor: default;
    text-align: center;
    line-height: 32px;
    align-self: flex-end;
    background: #4ae8b6; 
    border-radius: 4px;
    margin: 0 10px 0 0;
  }
.chatbox .chat p {
  white-space: pre-wrap;
  padding: 10px 14px;
  border-radius: 10px;
  max-width: 75%;
  font-size: 0.9rem;
}

.chatbox .incoming p {
  border-radius: 10px;
}
.chatbox .chat p.error {
    color: #721c24;
    background: #f8d7da;
  }
  
  .chatbox .incoming p {
    color: #000;
    background: #f2f2f2;
  }

.chatbot .chat-input {
  display: flex;
  gap: 5px;
  position: relative;
  width: 100%;
  background: #fff;
  padding: 10px 20px;
  border-top: 1px solid #ddd;
}

.chat-input textarea {
  height: 45px;
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  max-height: 180px;
  padding: 10px 15px;
  font-size: 0.9rem;
}

.chat-input span {
  align-self: flex-end;
  color: #000;
  cursor: pointer;
  height: 45px;
  display: flex;
  align-items: center;
  visibility: hidden;
  font-size: 1rem;
}

.chat-input textarea:valid ~ span {
  align-self: center;
  width: 35px;
  height: 15px;
  visibility: visible;
  font-size: 2rem;
}

#voice-input-button {
  background: #007bff; 
  color: #fff; 
  font-size: 1.2rem; 
  padding: 8px 12px; 
  border: none;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 10px; 
}


#voice-input-button:hover {
  background: #0056b3; 
}


@media (max-width: 490px) {
  .chatbot-toggler {
    right: 15px;
    bottom: 15px;
  }
  .chatbot {
    right: 0;
    bottom: 0;
    height: 100%;
    border-radius: 0;
    width: 100%;
  }
  .chatbot .chatbox {
    height: 80%;
    padding: 15px;
  }
  .chatbot .chat-input {
    padding: 5px 15px;
  }
  .chatbot header span {
    display: block;
  }
}
