*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}

body{
  background:black;
  width:100%;
}

header{
  width:100%;
  background-image:url('');
  background-repeat:no-repeat;
  background-position:center;
  position:absolute;
}

header nav{
  display:flex;
  flex-direction:row;
}

header nav .logo{
  width:50px;
  display:inline;
  height:20px;
}

header nav .logo img{
  width:350px;
  height:300px;
}

header nav .middle{
  width:50%;
}

header nav .middle ul{
  display:flex;
  flex-direction:row;
}

header nav .middle ul li{
  list-style:none;
  font-size:30px;
}

.right{
  height:100px;
}

.right ul.outer svg{
  height:50px;
  width:50px;
}

ul.outer{
  display:inline;
}

ul.outer:hover{
  position:relative;
}

ul.inner{
  display:none;
}

.side_bar{
  position:relative;
  right:19px;
}

ul.inner li{
  background-color:white;
  color:black;
  font-weight:bolder;
}

.ghost ul.inner_ghost{
    background-color:white;
  color:black;
  font-weight:bolder;
}


.ghost{
  display:none;
}

.ghost .inner_ghost{
  display:none;
}


header .content {
    position: relative;
    width: 90%;
    height: 90%;
    justify-content: center;
    align-items: center;
}
header .content::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 80%;
    background: url('img/background1.jpeg')no-repeat center center/cover;
    border-radius: 50px;
}

header .content .cont_bx {
    width: 92%;
    height: 250px;
    color: #000000;
    padding: 40px;
   
}
header .content .cont_bx h1{
    margin-right: 33%;
    line-height: 50px;
    font-weight: 300px;
}
header .content .cont_bx p{
    font-size: 14px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    margin-top: 2%;
}

header .content .cont_bx button:hover{
    background: rgb(114, 114, 114);
    border: 2px solid rgb(113, 113, 113);
}

header .trip_bx {
    position: relative;
    width: 96%;  
    height: auto;
    margin: auto;
}
header .trip_bx .search_bx{
    position: absolute;
    top: 10%;
    left: 7px;
    width: 96%;
    height: 70px; 
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 10px 30px rgb(0, 0, 0);
    z-index: -1;  
    padding: 15px 20px;  
}

header .trip_bx .search_bx .card {
    width: 400px;  
    height: 100%;
}
header .trip_bx .search_bx .card h4{
    font-size: 15px;          
    font-weight: 500;  
}
header .trip_bx .search_bx .card h4 .bi{
    position: absolute;
    font-size: 19px;        
    margin: 2px 0px 0px 5px;
    transition: .3s linear;
}
header .trip_bx .search_bx .card input{
    margin-top: 3px;
    padding: 5px 0px;
    font-size: 19px;   
}
header .trip_bx .search_bx input[type="button"]{
    background: #000000;
    color: #f1f1f1;
    padding: 10px 20px;
    border-radius:  10px;
    transition: .3s linear;
   
}
header .trip_bx .search_bx input[type="button"]:hover{
   background: rgb(0, 0, 0);
}

header .trip_bx .travel_bx {
    position: relative;       
    width: 94%;
    height: 90%;              
    margin: 4%;
    top: 70px;
    border-radius: 20px;                   
    padding-bottom: 25px;            
    box-shadow: 0px 20px 25px -10px rgb(165, 165, 165);
}
header .trip_bx .travel_bx::before{
   content: '';              
   position: absolute;     
   width: 99%;
   height: 70%;          
   border-radius: 10px;
   background: rgba(255, 254, 254, 0.7);   
   backdrop-filter: blur(4px);      
   z-index: -3;              
}
header .trip_bx .travel_bx h4{
   padding: 60px 10px 20px 2%;       
}
header .trip_bx .travel_bx .cards{
   width: 96%;
   height: auto;
   display: flex;
   align-items: center;
   justify-content: centre;     
}
header .trip_bx .travel_bx .cards .card{
   width: 210px;
   height: 180px;
 
}
header .trip_bx .travel_bx .cards .card h3{
   margin: 0px 0px 10px 0px;
   display: flex;
   align-items: center;
   font-size: 16px;
   font-weight: 600;
}
header .trip_bx .travel_bx .cards .card h3 img{
   width: 20px;
   height: 20px;
   margin-left: 5px ;
}
header .trip_bx .travel_bx .cards .card img{
   width: 100%;
   height: 60%;           
}
header .trip_bx .travel_bx .cards .card .btn_city{
   display: flex;
   align-items: center;
   justify-content: space-between;
 
}
header .trip_bx .travel_bx .cards .card .btn_city a{
   text-decoration: none;
   background: #000000;
   color: #fff;          
   border-radius: 20px;
   padding: 12px 20px;    
   font-size: 11px;
   transition: .3s linear;
}
header .trip_bx .travel_bx .cards .card .btn_city a:hover{
   background: gray;
}
header .trip_bx .travel_bx .cards .card .btn_city h5{
   font-size: 11px;
   font-weight: 500;    
   margin-top: 5px;
   line-height: 20px;       
}
header .trip_bx .travel_bx .cards .card .btn_city h5 span{
   font-size: 15px;
   font-weight: 400;
}

  
