*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:white;
  font-size:17px;
}

.chatbot-toggler{
  position:fixed;
  bottom:20px;
  right:20px;
  height:60px;
  display: flex;
  cursor:pointer;
  align-items:center;
  justify-content:center;
  border-radius:50%;
  background: blue;
  transition:all 0.2s ease;
}

body.show-chatbot .chatbot-toggler {
  transform: rotate(180deg);
}

.chatbot-toggler span {
  color: #fff;
  position: absolute;
}

.chatbot-toggler span:last-child,
body.show-chatbot .chatbot-toggler span:first-child {
  opacity: 0;
}

body.show-chatbot .chatbot-toggler span:last-child {
  opacity: 1;
}

.chatbot {
  position: fixed;
  right: 10px;
  bottom: 70px;
  width: 300px;
  background: white;
  border-radius: 10px;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.9);
  transform-origin: bottom right;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease;
}
body.show-chatbot .chatbot {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}
#voice-input-button {
  background: #007bff; 
  color: #fff; 
  font-size: 1.2rem;
  padding: 8px 12px; 
  border: none;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 10px; 
}


#voice-input-button:hover {
  background: #0056b3;
}

.chatbot header {
  background-color: blue;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.close-btn {
  font-size: 24px;
  cursor: pointer;
}

.close-btn:hover {
  color: red;
}

header h2 {
  font-size: 1.2rem;
}
.chatbot .chatbox {
  overflow-y: auto;
  max-height: 400px; 
  padding: 20px;
}

.chatbot :where(.chatbox, textarea)::-webkit-scrollbar {
  width: 6px;
}

.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-track {
  background: #f0f0f0; 
  border-radius: 25px;
}

.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 25px;
}


.chatbox .chat {
  display: flex;
  list-style: none;
}

.chatbox .outgoing {
  margin: 15px 0; 
  justify-content: flex-end;
}
