body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.chat-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chat-header {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 18px;
}

.chat-messages {
    max-height: 200px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
}

.bot-message {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.options {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    border-radius: 25px;
    text-align: center;
}

button.option-button{
    background-color: gray;
    color: white;
}

.option-button {
    margin: 5px;
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 45px;
    cursor: pointer;
    display: block;
    width: 70%;
    text-align: center;
    font-size: 14px; /* Adjusted font size */
    transition: background-color 0.2s ease-in-out;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}


.sub-options{
    display: flex;
    width: 80%;
    position: relative;
    right: -22%;
    text-align: center;
    flex-direction: column;
}
.sub-options .option-button {
    margin: 5px;
    padding: 8px 12px; 
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 30px;
    /* width: 30%; */
    cursor: pointer;
    display: inline-block;
    text-align: center;
    font-size: 12px; 
    transition: background-color 0.2s ease-in-out;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.sub-option:hover{
    background-color: gray;
    color: white;
}

.option-button:hover, .sub-options .option-button:hover {
    background-color: #0056b3;
}
